html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: mintcream; 
  color: black;
}

header {
    margin: 20px;
    font-family: Consolas;
    font-weight: bolder;
    padding: 0;
    color: green;
}


.header-div {
    display: flex; 
    flex-direction:column;
    justify-content: center; 
    align-items: center; 
    gap: 10px;
}

.glass{
    width: 40px;
    height: 40px;
    margin:0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
    margin-left: 60px;
    margin-right: 60px;
}

.text-box-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.analysis-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px; 
}

#name {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    resize: none; 
}

.analyze {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}